.subNavMenu {
  display: flex;
  color: white;
  overflow-x: scroll;
  padding: 10px;
  padding-left: 20px;
}

/* hiding scrolling for Chrome, Safari and Opera */
.subNavMenu::-webkit-scrollbar {
  display: none;
}

/* hiding scrolling for IE and FF */
.subNavMenu {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.subNavMenu > h2 {
  cursor: pointer;
  margin-left: 30px;
  margin-right: 30px;
  padding-right: 10px;
  font-weight: 500;
  opacity: 0.7;
  transition: transform 50ms ease-out;
}

.subNavMenu > h2:hover {
  opacity: 1;
  transform: scale(1.2);
}
